1 VERSIONINFO
FILEVERSION 3, 1, 3, 0
PRODUCTVERSION 3, 3
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
   BLOCK "040904E4"
   BEGIN
     VALUE "CompanyName",  "JR-Weiche-Ware\0\0"   
     VALUE "FileDescription",  "GnuGetText Assemble\0\0"
     VALUE "FileVersion",  "3.1.3.0\0\0"
     VALUE "InternalName",  "GnuGetText Assemble\0\0"
     VALUE "LegalCopyright",  "© 2010-2024 J. Rathlev, D-24222 Schwentinental\0\0"
     VALUE "ProductName",  "Gnu Get Text for Delphi (32-bit)\0\0"
     VALUE "ProductVersion",  "3.3\0\0"
     VALUE "Author",  "Dr. J. Rathlev\0\0"
     END
   END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 1033, 1252
  END
END

