IDR_TRANS_DE_DEFAULT RCDATA "languages\\de\\default.mo"
//IDR_TRANS_DE_DELPHI10 RCDATA "de\\lclstrconsts.mo"
IDR_TRANS_DE_DIALOGS RCDATA "languages\\de\\dialogs.mo"
IDR_TRANS_DE_UNITS RCDATA "languages\\de\\units.mo"

IDR_TRANS_DE_LANGUAGES RCDATA "languages\\de\\languages.mo"
IDR_LANGUAGES RCDATA "languages\\language.cfg"
